Sending unlikely suggested external address

Your pcp_app seems to send the IPv6 zero address (::) rather than the IPv4 zero address (::ffff:0.0.0.0) as the suggested external address even for requests from IPv4 internal addresses to IPv4 PCP servers. 

RFC6887 Section 10 suggests that using the other family's zero address makes it a request for NAT64/NAT46, which is probably not what you want as the default.